@mixin floating {
  border-radius: 20px;
  box-shadow: 5px 8px 13px $coloreOmbra;
  border: 2px solid black;
}

@mixin grid($valore){
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  div{
    flex-basis: #{$valore + '%'}
  }
}